/* Google fonts */
@import url('https://fonts.googleapis.com/css?family=Poppins:400,600,700,900|Rubik:400,700,900');

/* Default css */
*:focus {
    outline: none
}

body {
    font-size: 15px;
    font-weight: 400;
    color: #595959;
    font-family: 'Rubik', sans-serif;
}

p {
    color: #595959;
    font-size: 15px;
    line-height: 25px;
    font-weight: 400;
    font-family: 'Rubik', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

h3 {
    font-size: 32px;
    color: #404044;
    margin-bottom: 20px
}

a {
    font-size: 14px;
    font-family: Poppins;
    color: #343434;
    font-weight: 700;
    transition: .3s;
}

h4 {
    font-size: 22px;
    color: #3f3f3f
}

a:hover {
    color: #505cfd;
    text-decoration: none
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.pt-90 {
    padding-top: 90px
}

.pt-100 {
    padding-top: 100px
}

.pt-70 {
    padding-top: 70px
}

.pt-80 {
    padding-top: 80px
}

.pt-50 {
    padding-top: 50px
}

.pt-60 {
    padding-top: 60px
}

.pt-40 {
    padding-top: 40px
}

.pb-80 {
    padding-bottom: 80px
}

.pb-90 {
    padding-bottom: 90px
}

.pb-100 {
    padding-bottom: 100px
}

.pb-30 {
    padding-bottom: 30px
}

.pb-50 {
    padding-bottom: 50px
}

.pb-60 {
    padding-bottom: 60px
}

.pb-40 {
    padding-bottom: 40px
}

.pb-20 {
    padding-bottom: 20px
}

.btn {
    font-size: 14px;
    color: #343434;
    border: 1px solid #505cfd;
    border-radius: 30px;
    padding: 15px 55px;
    display: inline-block;
    font-weight: 700;
}

.btn:hover {
    background: #505cfd;
    color: #fff
}

.primary-btn {
    background: #505cfd;
    color: #fff
}

.primary-btn:hover {
    background: #fff;
    color: #505cfd
}



/* Header */
header {
    padding: 25px 0;
    border-bottom: 1px solid #d6d1ce;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
}

.header-logo {
    margin-left: 70px;
}

nav ul li {
    display: inline-block;
    margin-right: 30px;
}

.main-menu a.btn {
    margin-right: 70px;
}

/* Slider */
.slider-area {
    background: url('../img/Slider/slider-bg.jpg');
    background-size: cover;
    padding: 280px 0;
    background-position: center;
}

.slider-icon {
    margin-bottom: 10px;
}

.slider-icon i {
    font-size: 18px;
    color: #505cfd;
    margin: 0px 10px;
    transition: .3s;
}

.slider-icon a:hover i {
    color: #7982fd
}

.slider-content h1 {
    font-size: 72px;
    color: #595959;
    margin-bottom: 20px;
}

.slider-content p {
    font-size: 15px;
    color: #343434;
    margin-bottom: 40px;
}

/* Feature */
.feature-area {
    margin-top: -130px;
    z-index: 99;
}

.features {
    background: #505cfd;
    padding: 55px 0;
    border-radius: 10px;
}

.feature-wrapper i {
    font-size: 30px;
    color: #fff;
    margin-bottom: 30px;
}

.feature-wrapper h5 {
    font-size: 22px;
    color: #fff;
    margin-bottom: 10px;
}

.feature-wrapper p {
    font-size: 15px;
    color: #fff;
    line-height: 25px;
    margin-bottom: 0;
}

/* About us */
.about-us-content h3 {
    position: relative;
    margin-bottom: 30px;
}

.about-us-content h3::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 60px;
    height: 3px;
    background: #505cfd;
}

.about-us-content p {
    margin-bottom: 35px;
}

.about-us-img img {
    width: 100%
}

/* Subscribe */
.subscribe-area {
    background: url(../img/subscribe/subscribe-bg.jpg);
    background-size: cover;
    background-position: center;
}

.subscribe-wrapper h3 {
    margin-bottom: 15px;
}

.subscribe-wrapper p {
    margin-bottom: 40px;
}

.subscribe-wrapper form input:not(submit) {
    border-radius: 30px;
    margin: 0 10px;
    border: none;
    width: 260px;
    padding: 15px 0;
    padding-left: 20px;
}

.subscribe-wrapper form button {
    margin-left: 20px;
}

.service-wrapper {
    padding: 0 25px;
    padding-top: 70px;
    padding-bottom: 55px;
    transition: .3s;
    border: 1px solid #ebebeb;
    margin-bottom: 30px;
}

.service-wrapper:hover {
    background: #343434;
    cursor: pointer;
}

.service-wrapper:hover>h4 {
    color: #fff
}

.service-wrapper:hover>p {
    color: #555
}

.service-wrapper:hover>.btn {
    color: #fff
}

.service-wrapper i {
    font-size: 35px;
    color: #505cfd;
    margin-bottom: 30px;
}

.service-wrapper h4 {
    margin-bottom: 15px;
    transition: .3s;
}

.service-wrapper p {
    font-size: 14px;
    margin-bottom: 35px;
    line-height: 25px;
    transition: .3s;
}

/* Pricing area */
.pricing-area {
    background: #e7e8fe;
}

.pricing-area .section-title {
    margin-bottom: 50px;
}

.pricing-wrapper {
    border: 1px solid #cfd1fc;
    padding-top: 30px;
    padding-bottom: 40px;
    width: 30%;
    transition: .3s;
}

.pricing-wrapper h4 {
    padding-bottom: 20px;
    border-bottom: 1px solid #cfd1fc;
    font-size: 22px;
    margin: 0;
}

.pricing-wrapper .amount {
    color: #505cfd;
    font-family: poppins;
    line-height: 1;
    padding-top: 25px;
    padding-bottom: 10px;
}

.pricing-wrapper .amount span:first-child {
    font-size: 20px;
    font-weight: 500;
}

.pricing-wrapper .amount span:last-child {
    font-size: 40px;
    font-weight: 600;
}

.pricing-wrapper ul {
    margin-bottom: 20px;
}

.pricing-wrapper li {
    font-size: 15px;
    line-height: 36px;
}

.pricing-wrapper:hover {
    background: #ffffff;
    box-shadow: 0px 15px 30px 0px rgba(80, 92, 253, 0.1);
}

/* Counting area */
.counting-area {
    background: #505cfd;
}

.counter-wrapper {
    color: white;
    margin-bottom: 20px;
}

.counter-wrapper .counter-logo {
    margin-bottom: 15px
}

.counter-wrapper .counter-content span:first-child {
    display: block;
    font-size: 32px;
    font-family: poppins;
}

.counter-wrapper .counter-content span:last-child {
    font-size: 15px;
    display: block;
}

/* Team area */
.team-wrapper {
    position: relative;
}

.team-wrapper .team-img img {
    width: 100%
}

.team-wrapper .team-info {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #fffc;
    margin: 30px;
    opacity: 0;
    visibility: hidden;
    transition: .3s;
}

.team-wrapper .team-info h4 {
    margin-bottom: 0;
}

.team-wrapper .team-info p {
    margin-bottom: 10px;
}

.team-wrapper .team-info i {
    margin: 0 6px;
}

.team-wrapper:hover .team-info {
    opacity: 1;
    visibility: visible;
}

/* Blog area */
.blog-wrapper {
    margin-bottom: 40px;
}

.blog-area .section-title {
    margin-bottom: 30px;
}

.blog-wrapper .blog-img {
    margin-bottom: 25px;
}

.blog-wrapper .blog-img img {
    width: 100%
}

.blog-wrapper h4 {
    line-height: 30px;
    margin-bottom: 10px;
}

.blog-wrapper span {
    font-size: 14px;
    font-family: poppins;
    position: relative;
    margin-bottom: 5px;
    display: inline-block;
}

.blog-wrapper span::after {
    content: "";
    position: absolute;
    width: 50px;
    height: 1px;
    background: #343434;
    top: 50%;
    margin-left: 15px;
}

.blog-wrapper p {
    margin-bottom: 20px;
}

/* review-area */
.review-area {
    background: url(../img/slider2/slider2.jpg);
    background-size: cover
}

.review-wrapper {
    background: #ffffffe0;
    padding: 0 150px;
    padding-top: 60px;
    padding-bottom: 120px;
}

.review-wrapper h4 {
    color: #505cfd;
    margin-bottom: 5px;
}

.review-wrapper span {
    display: block;
    margin-bottom: 15px;
}

/* review slider */
.review-slider ul.slick-dots {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translateX(-50%);
}

.review-slider ul.slick-dots li {
    display: inline-block;
    width: 10px;
    height: 10px;
    border: 1px solid #595959;
    background: transparent;
    border-radius: 50%;
    margin: 0 3px;
}

.review-slider ul.slick-dots li button {
    text-indent: -9999px;
    overflow: hidden;
    border: none;
    margin: 0;
    padding: 0;
}

.review-slider ul.slick-dots li.slick-active {
    background: #595959;
}

/* Footer */
footer {
    background: #343434
}

.widget-wrapper {
    margin-bottom: 20px;
}

.widget-wrapper h4 {
    color: #fff;
    margin-bottom: 25px;
}

.widget-wrapper span {
    display: block;
    color: #777777;
    line-height: 36px;
}

.widget-wrapper .widget-icon {
    margin-top: 20px;
}

.widget-wrapper .widget-icon a {
    margin-right: 30px;
}

.widget-wrapper .widget-icon a i {
    color: #fff;
    transition: .3s
}

.widget-wrapper .widget-icon a:hover>i {
    color: #505cfd
}

.widget-wrapper li::before {
    content: "\f0da";
    font-size: 12px;
    font-weight: 900;
    font-family: "Font Awesome 5 Free";
    color: #808080;
    margin-right: 10px;
}

.widget-wrapper li a {
    color: #777777;
    line-height: 36px;
}

.widget-wrapper li a:hover {
    color: #fff;
}

.widget-wrapper .widget-content {
    margin-bottom: 25px;
}

.widget-text {
    margin-left: 20px;
    margin-top: -9px;
}

.widget-wrapper .widget-content span {
    display: block;
    margin: 0;
    line-height: 25px;
    font-size: 15px;
    color: #777;
}

.widget-wrapper .widget-content p {
    margin: 0;
    color: #777777;
    line-height: 30px;
}

/* Copyright */
.footer-copyright-area {
    border-top: 1px solid #494949
}

.copyright-text p {
    color: #777;
    font-size: 14px
}

.copyright-link li a {
    color: #777;
    margin-left: 30px;
}

.copyright-link li a:hover {
    color: #fff;
}

/* Scroll up */
a#scrollUp {
    position: absolute;
    right: 20px;
    bottom: 20px;
    background: #333;
    text-align: center;
    line-height: 50px;
    width: 50px;
    height: 50px;
    opacity: .5;
    color: #e0e0e0;
    font-size: 20px;
    transition: .3s;
}

/* preloader */

.spinner-section {
    width: 100%;
    max-width: 100%;
    height: 100vh;
    min-height: 100vh;
    background: #000;
    position: fixed;
    z-index: 999999;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    overflow: hidden
}

.loader {
    position: relative;
    width: 100px;
    height: 100px;
    text-align: center;
    border-radius: 50%;
    margin: 75px;
    display: inline-block;
    vertical-align: middle
}


.preloader {
    border-width: 7px;
    border-style: double;
    -webkit-animation: ball-turn 1s linear infinite;
    animation: ball-turn 1s linear infinite;
    border-color: #00abc9
}

.preloader:before,
.preloader:after {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    bottom: 0;
    right: 10px;
    background: #000;
    border-width: 1px;
    border-style: solid;
    border-color: #00abc9
}

.preloader:after {
    left: 10px;
    top: 0
}

@-webkit-keyframes ball-turn {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@keyframes ball-turn {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}